In [2]:
import numpy as np
import pandas as pd

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB

In [20]:
names= [
      "K-Nearest Neighbors",
    "Linear SVM",
    "Decision Tree",
    "Multilayer Perceptron",
    "Gaussian Naive Bayes"
]

In [40]:
classifiers= [
              KNeighborsClassifier(3),
              SVC(kernel="linear", C=0.025),
              DecisionTreeClassifier(max_depth=5),
              MLPClassifier(alpha=1,max_iter=1000),
              GaussianNB(),
            ]

In [52]:
df=pd.read_csv("iris.csv")

In [53]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [54]:
x=df.iloc[:,:-1]
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [55]:
y=df.iloc[:,-1]
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [56]:
from sklearn.preprocessing import LabelEncoder
y=LabelEncoder().fit_transform(y)
y=pd.DataFrame(y)
y.head()

   0
0  0
1  0
2  0
3  0
4  0

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)

In [58]:
for name, clf in zip(names,classifiers):
    clf.fit(x_train,y_train.values.ravel())
    score=clf.score(x_test,y_test)
    print("Classifier Name: ",name,"Score:", score)

Classifier Name:  K-Nearest Neighbors Score: 0.98
Classifier Name:  Linear SVM Score: 0.96
Classifier Name:  Decision Tree Score: 0.98
Classifier Name:  Multilayer Perceptron Score: 0.98
Classifier Name:  Gaussian Naive Bayes Score: 0.96